# --- Core App & Data ---
streamlit
requests
pandas
feedparser
textblob
pytz
scipy

# --- Database & API ---
supabase-py==2.4.1
gotrue==2.3.0

# --- Plotting & Visuals ---
plotly
streamlit-lightweight-charts

# --- Optional Web Scraping & Utilities ---
beautifulsoup4
yfinance
streamlit-autorefresh
forex-python
